[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[3EF88BE7F88B9BB1]
row=1
col=0

[2018-01-05-09-06-53-00]
row=5
col=0

[461C1F1B1C1F0599]
row=0
col=0

[Papierkorb]
row=2
col=0

[/]
row=3
col=0

[/home/dschlack]
row=4
col=0

