gtk-color-scheme = "background: #031013"
gtk-color-scheme = "foreground: #89b4b1"

gtk-color-scheme = "color0: #031013"
gtk-color-scheme = "color1: #1C5952"
gtk-color-scheme = "color2: #5E6553"
gtk-color-scheme = "color3: #6C6D55"
gtk-color-scheme = "color4: #807B65"
gtk-color-scheme = "color5: #6F846F"
gtk-color-scheme = "color6: #8C8B72"
gtk-color-scheme = "color7: #89b4b1"
gtk-color-scheme = "color8: #5f7d7b"
gtk-color-scheme = "color9: #1C5952"
gtk-color-scheme = "color10: #5E6553"
gtk-color-scheme = "color11: #6C6D55"
gtk-color-scheme = "color12: #807B65"
gtk-color-scheme = "color13: #6F846F"
gtk-color-scheme = "color14: #8C8B72"
gtk-color-scheme = "color15: #89b4b1"
